<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Тест по окружающей среде</title>
</head>
<body>
    <div class="container">
        <h1>Тест по окружающей среде</h1>
        <form method="post" action="/results">
            {% for question in questions %}
                <p>{{ question.question }}</p>
                <input type="radio" name="{{ question.id }}" value="yes"> Да
                <input type="radio" name="{{ question.id }}" value="no"> Нет
                <br>
            {% endfor %}
            <input type="submit" value="Узнать решения">
        </form>
        
        <!-- Кнопка обратной связи -->
        <a href="/feedback">Обратная связь</a>
    </div>
</body>
</html>
